{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!--Slider Area Start-->
    <div class="slider-area slider-three">
        <div class="preview-2">
            <div id="nivoslider" class="slides">
                <a href="#"><img src="{% static 'img/slider/slider-1.jpg' %}" alt="" title="#slider-1-caption1"/></a>
                <a href="#"><img src="{% static 'img/slider/slider-2.jpg' %}" alt="" title="#slider-1-caption1"/></a>
            </div>
            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                <div class="banner-content slider-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-9">
                                <div class="text-content">
                                    <h1 class="title1">Fun For Everyone</h1>
                                    <h2 class="sub-title">Amazing <span>Gataway</span> with </h2>
                                    <h2 class="sub-title">Friends</h2>
                                    <form action="#" id="banner-searchbox" class="hidden-xs">
                                        <div class="adventure-cat">
                                            <select name="category" class="search-adventure" id="adventureType"
                                                    onmousedown="updateDestination()">
                                                <option>Select Adventure</option>
                                                <option>UK Trips</option>
                                                <option>International Trips</option>
                                                <option>Challenges</option>
                                                <option>Training</option>
                                            </select>
                                        </div>
                                        <div class="adventure-cat destination">
                                            <select name="destination" class="search-adventure"
                                                    id="adventureDestination" onmousedown="updateDates()">
                                                <option>Select Destination</option>
                                            </select>
                                        </div>
                                        <div class="adventure-cat floatright">
                                            <select name="date" class="search-adventure" id="adventureDates">
                                                <option>Select Date</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                        <button type="submit" id="btn-search-category" class="button-blue">SEARCH
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Slider Area-->
    <!--About Area Start-->
    <div class="about-area text-center about-area-three hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="about-container section-padding">
                        <div class="section-title title-three">
                            <div class="title-border">
                                <h1>About <span class="text-white">Adventures</span></h1>
                            </div>
                        </div>
                        <div class="about-text">
                            <h1>This is your planet. Introduce yourself.</h1>
                            <p>Travelling with Fitways Adventures is the very best way to get up close and personal with
                                your
                                planet in a way you’d never manage on your own. For more than 20 years, we’ve brought
                                together people from all over the globe to create lifelong connections. This is your
                                planet, after all—and the better you get to know it.....</p>
                            <a href="#" class="button-blue">Why Trtavel with Adventures?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of About Area-->
    <!--Portfolio Area Start-->
    <div class="portfolio-area portfolio-three">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title title-three text-center">
                        <div class="title-border">
                            <h1>Browse by <span>Hiking &amp; Camping</span></h1>
                        </div>
                        <p>Everyone loves to travel, but not everyone loves to travel the same way. G Adventures Travel
                            Styles gather trips of a feather<br> together so you can spend less time searching and more
                            time dreaming about where you’ll go.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/17.jpg' %}" alt=""></a>
                        <div class="portfolio-text effect-bottom">
                            <h4><a href="#">Beach Tours</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/18.jpg' %}" alt=""></a>
                        <div class="portfolio-text effect-bottom">
                            <h4><a href="#">beach party</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/19.jpg' %}" alt=""></a>
                        <div class="portfolio-text">
                            <h4><a href="#">Sightsing Tours</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/20.jpg' %}" alt=""></a>
                        <div class="portfolio-text">
                            <h4><a href="#">Family Fun</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/21.jpg' %}" alt=""></a>
                        <div class="portfolio-text effect-bottom">
                            <h4><a href="#">Night Cruises</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/22.jpg' %}" alt=""></a>
                        <div class="portfolio-text effect-bottom">
                            <h4><a href="#">Water Games</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm">
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/23.jpg' %}" alt=""></a>
                        <div class="portfolio-text">
                            <h4><a href="#">Private Charter</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-portfolio">
                        <a href="#"><img src="{% static 'img/portfolio/24.jpg' %}" alt=""></a>
                        <div class="portfolio-text">
                            <h4><a href="#">Food &amp; Drink</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="portfolio-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Portfolio Area-->


    <!--Newsletter Area Start-->
    <div class="newsletter-area newsletter-three">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4 col-sm-12">
                    <div class="section-title title-three text-center">
                        <div class="title-border">
                            <h1 class="text-white">Subscribe for <span>Newsletter</span></h1>
                        </div>
                        <p class="text-white">Join our community of over 300,000 global readers who receive emails
                            filled with news,<br> promotions, and other good stuff from G Adventures.</p>
                    </div>
                    <form action="#" method="post" id="newsletter">
                        <div class="newsletter-content">
                            <div class="row">
                                <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12">
                                    <input type="text" name="email" placeholder="Enter your email address ......">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                    <button type="submit" class="button button-blue"><span>Subscribe</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End of Newsletter Area-->
    <!--Blog Area Start-->
    <div class="blog-area section-padding blog-three-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title title-three text-center">
                        <div class="title-border">
                            <h1>Latest <span>Blog Posts</span></h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar
                            varius dui<br> id, convallis iaculis eros. Praesent porta lacinia elementum.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-carousel">
                    <div class="col-md-6">
                        <div class="single-blog hover-effect">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-image box-hover">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/1.jpg' %}" alt=""></a>
                                        <div class="date-time">
                                            <span class="date">10</span>
                                            <span class="month">AUG</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 margin-left">
                                    <div class="blog-text">
                                        <h4><a href="blog-details.html">What is travel? We answer the big, burning
                                            question.....</a></h4>
                                        <p>The question of What Travel Is is interesting, but more for what it tells you
                                            about the people doing the asking. The question of What Travel Is is
                                            interesting, but more for what it tells you about the people doing the
                                            asking.</p>
                                        <a href="blog-details.html" class="button-one">Learn More</a>
                                        <div class="blog-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-rss"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog hover-effect">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="blog-image box-hover">
                                        <a href="blog-details.html"><img src="{% static 'img/blog/2.jpg' %}" alt=""></a>
                                        <div class="date-time">
                                            <span class="date">10</span>
                                            <span class="month">AUG</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 margin-left">
                                    <div class="blog-text">
                                        <h4><a href="blog-details.html">What is travel? We answer the big, burning
                                            question.....</a></h4>
                                        <p>The question of What Travel Is is interesting, but more for what it tells you
                                            about the people doing the asking. The question of What Travel Is is
                                            interesting, but more for what it tells you about the people doing the
                                            asking.</p>
                                        <a href="blog-details.html" class="button-one">Learn More</a>
                                        <div class="blog-link">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-rss"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Blog Area-->
    <!--Team Area Start-->
    <div class="team-area section-padding team-three">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title title-three text-center">
                        <div class="title-border">
                            <h1>Our <span>Team</span></h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar
                            varius dui<br> id, convallis iaculis eros. Praesent porta lacinia elementum.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-member">
                        <div class="team-image">
                            <a href="#"><img src="{% static 'img/team/1.jpg' %}" alt=""></a>
                            <div class="member-text effect-bottom">
                                <h4><a href="#">Maria B. | <span>Hiking Guide</span></a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text</p>
                                <div class="member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-rss"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-member">
                        <div class="team-image">
                            <a href="#"><img src="{% static 'img/team/2.jpg' %}" alt=""></a>
                            <div class="member-text effect-bottom">
                                <h4><a href="#">Janifer Craving | <span>Photographer</span></a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text</p>
                                <div class="member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-rss"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden-sm">
                    <div class="single-member">
                        <div class="team-image">
                            <a href="#"><img src="{% static 'img/team/3.jpg' %}" alt=""></a>
                            <div class="member-text effect-bottom">
                                <h4><a href="#">Matt Jason | <span>Guide</span></a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text</p>
                                <div class="member-link">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-rss"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Team Area-->

    <script>
        function updateDestination() {
            var type = document.getElementById("adventureType").value;

            if (type === "UK Trips") {
                {% autoescape off %}
                    document.getElementById("adventureDestination").innerHTML = "{{ uk }}";
                {% endautoescape %}
            } else if (type === "International Trips") {
                {% autoescape off %}
                    document.getElementById("adventureDestination").innerHTML = "{{ international }}";
                {% endautoescape %}
            } else if (type === "Challenges") {
                {% autoescape off %}
                    document.getElementById("adventureDestination").innerHTML = "{{ challenge }}";
                {% endautoescape %}
            } else if (type === "Training") {
                {% autoescape off %}
                    document.getElementById("adventureDestination").innerHTML = "{{ training }}";
                {% endautoescape %}
            }

        }

        function updateDates() {
            $.ajax({
                type: "POST",
                url: "{% url 'get_dates' %}",
                dataType: "json",
                data: {
                    "dest": $('#adventureDestination').val(),
                },
                success: function (data) {
                    console.log('this');
                    $('#adventureDates').html(data.dates);
                    {% autoescape off %}
                        document.getElementById("adventureDates").innerHTML = data.dates;
                    {% endautoescape %}
                }
            });

        }

        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% endblock %}